{% extends "base1.html" %}
{% block body %}


<!-- <div class ="container-sm my-4">
   
</div>
<div class="container-sm py-5">

        

          <div class="card mb-4">
            <div class="card-body p-5">
              <h4 class="mb-4" style="font-size:50px;text-align:center;font-size:300%;" >Bitcoin Price Prediction</h4>
              <div class="custom-scrollbar-css p-2">
                <p class="font-italic">
                  <h1 style="font-size:50px;color:red;text-align:center;font-size:300%;"> Welcome {{user.username}}</h1></p>
              </div>
            </div>
          </div>
            </div>
        </div>
        </div>

</div> -->
<div class="container my-4"></div>
<div class="container py-5">

  <div class="row justify-content-center">
    <!-- <div class="col-md-6">
      <div class="card mb-4"> -->
        <div class="p-5"> <!-- Move padding directly to this div -->
          <h4 class="mb-5" style="font-size:30px;color:white;text-align:center;" >CryptoCurrency Price Prediction</h4>
          <!-- <div class="custom-scrollbar-css p-2"> -->
            <p class="font-italic">
              <h1 style="font-size:20px;color:cyan;text-align:center;"> Welcome {{user.username}} !!</h1>
            </p>
          <!-- </div> -->
        </div>
      <!-- </div>
    </div> -->
  </div>

</div>


{% endblock %}
